<h2>Products</h2>

<ul>
  <% products.forEach((product) => { %>
    <li>
      <%= product.name %> (<%= product.price %>€)
      <a href="/products/<%= product._id %>">Details</a>
      |
      <a href="/products/<%= product._id %>/edit">Edit</a>
      |
      <form action="/products/<%= product._id %>/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% })%>
</ul>

<a href="/products/new">New Product</a>
<a href="/products?price=50">Filter</a>